/* src/app/components/Header.module.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.nav {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #18181b;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  margin-right: 40px;
}

.cta {
  background-color: #6c5ce7;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.mobileMenu {
  display: none; /* Hidden by default */
}

/* Responsive styling for the drawer */
@media (max-width: 768px) {
  .nav,
  .ctaButton {
    display: none;
  }

  .mobileMenu {
    display: block;
  }
}

.ctaButton {
  padding: 8px 20px;
  background-color: #7261ff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
}
