/* src/app/components/SampleTemplates.module.css */

.sampleTemplates {
  text-align: center;
  /* background-color: #f8f9fa; */
  background-image: url("/bbg2.png");
  background-size: cover;
  background-position: center;
  padding: 45px 0px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.templatesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  align-items: start;
}

.templateCard {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Remove transform to prevent moving effect */
}

/* Remove this hover effect if you don't want any movement */
.templateCard:hover {
  /* transform: translateY(-5px); */ /* Comment out or remove this line */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust shadow if needed */
}

.imageWrapper {
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.cardContent {
  padding: 1rem;
  text-align: left;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.description {
  font-size: 0.875rem;
  color: #666666;
  margin-bottom: 1rem;
}

.ctaButtonSelected {
  background-color: #6c5ce7;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
}

.ctaButton {
  background-color: #ffffff;
  color: #6c5ce7;
  padding: 0.5rem 1rem;
  border: 1px solid #6c5ce7;
  border-radius: 4px;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
}

.ctaButton:hover {
  background-color: #5947c1;
}

.container {
  margin: 0px 40px;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 50px 24px;
}

@media (max-width: 840px) {
  .container {
    margin: 0px 30px;
  }
}

@media (max-width: 425px) {
  .container {
    margin: 0px 20px;
  }
}
