/* src/app/globals.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

h2 {
  color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .typesGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .templatesGrid {
    grid-template-columns: 1fr;
  }

  /* Adjust font sizes for smaller screens */
  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  /* Stacks all items vertically for smaller screens */
  .typesGrid {
    grid-template-columns: 1fr;
  }

  .templatesGrid {
    grid-template-columns: 1fr;
  }

  /* Additional font adjustments */
  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.75rem;
  }
}
